@import "../../../assets/style.scss";

//페이지 배경
.pageBg{

  //페이지 전체 박스
  .pageBox{
    margin: 20px;
    padding: 20px 15px 40px 15px;
    border-radius: $border-radius04;
    background-color: $PM-white;
    .reviewBox {
      margin-top: 15px;
      margin-left: 15px;
      margin-right: 15px;
      border: 1px solid $PM-skyblue;
      padding: 10px;
      border-radius: $border-radius01;
      overflow: hidden;
      .fileBox {
        display: flex; 
        border: 2px solid $PM-tone-1;
        overflow-x: scroll;
        .file{
          cursor: pointer;  
          text-overflow: ellipsis;
          font-size: 0.3rem;
          width: 100%;
        }
        .imgBg {         
          .imgBox {
            position: relative;
            text-overflow: ellipsis;
            .imgBtn{  
              position: absolute;
              top: 0;
              right: 0;
            }
            img { margin-inline: 1px; }
          }
        }
      }

      .reviewCreateBox {
        margin-top: 1rem;
        display: flex;
        height: 30vh;
        .review{
          padding: 5px;
          width: 100%;
          border: 1px solid $PM-gray;
        }
        p { width: 100%; }
      }

      .reviewDetailBox {
        height: 10vh;
        margin-top: 1rem;
        display: flex;
        p { width: 100%; }
      }

      .reviewAddBtnBox {
        display: flex;
        justify-content: flex-end;
        margin-top: 0.3rem;
        margin-bottom: 0.5rem;
        margin-right: 10px;
        .reviewAddBtn {
          cursor: pointer;
          align-self: flex-end;
          margin-top: 15px;
          margin-right: 5px;
          padding: 5px 10px;
          border: 2px solid $PM-skyblue;
          background: $PM-white;
          border-radius: $border-radius01;
          &:hover {
            background: $PM-blue;
            color: $PM-white;
          }
        }
      } 
    }
  }
}