@import "../../../assets/style.scss";

//페이지 배경
.pageBg{
  //페이지 전체 박스
  .pageBox{
    margin: 20px;
    padding: 20px 15px 40px 15px;
    border-radius: $border-radius04;
    background-color: $PM-white;
    
    .reviewBox {
      margin: 15px 15px 0 15px;
      border: 1px solid $PM-skyblue;
      padding: 10px;
      border-radius: $border-radius01;
      overflow: hidden;
      .fileBox {
        display: flex; 
        overflow-x: scroll;
        // border: 2px solid $PM-skyblue;
        // border-radius: $border-radius01;
        .file{
          cursor: pointer;  
          text-overflow: ellipsis;
          font-size: 0.3rem;
          width: 100%;
        }
        .imgBg {         
          .imgBox {
            position: relative;
            text-overflow: ellipsis;
            .imgBtn{  
              cursor: pointer;
              border: none;
              background: none;
              color: $PM-gray;
              position: absolute;
              top: 0;
              right: 0;
              &:hover {
                background: $PM-blue;
                color: $PM-white;
              }
            }
            img { margin-inline: 1px; }
          }
        }
      }
      ::-webkit-scrollbar {
        height: 10px;
      }
      ::-webkit-scrollbar-thumb {
        background: linear-gradient($PM-blue, $PM-skyblue);
        border-radius: 10px;
      }

      .reviewCreateBox {
        margin-top: 1rem;
        display: flex;
        height: 30vh;
        .review {
          padding: 5px;
          width: 100%;
          border: 1px solid $PM-gray;
        }
        p { width: 100%; }
      }

      .reviewDetailBox {
        white-space: pre-wrap;
        height: 10vh;
        // margin-top: 1rem;
        display: flex;
        p { 
          width: 100%; 
          margin: 1rem 0 0 0;
        }
      }

      .reviewAddBtnBox {
        display: flex;
        justify-content: flex-end;
        margin: 0.3rem 0 0.5rem 0;
        // margin-right: 10px;
        .reviewAddBtn {
          cursor: pointer;
          align-self: flex-end;
          margin-top: 15px;
          margin-left: 5px;
          padding: 5px 10px;
          border: 2px solid $PM-skyblue;
          background: $PM-white;
          border-radius: $border-radius01;
          &:hover {
            background: $PM-blue;
            color: $PM-white;
          }
        }
      } 
    }
  }
}