@import "/src/assets/style.scss";

//메인페이지 배경
.loginBg {
    position: relative;
    max-width: 480px;
    height: 99vh;
    margin: auto;
    border: 1px solid #9BA4B5;
    background-color: #dfe6ed;

    display: flex;
    justify-content: center;
    align-items: center;
  
    //메인페이지 전체 박스
    .loginBox {
      width: 90%;
      max-width: 480px;
      height: 90vh;
      padding-bottom: 30px;
      border-radius: $border-radius04;
      background-color: $PM-white;
    
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        text-align: center;
      }

      form {
        display: grid;
        justify-items: center;
  
        :first-child{
          margin-top: 40px;
        }
  
        input {
          margin-bottom: 30px;
          padding: 8px;
          width: 250px;
  
          background-color: #fff;
          border: 2px solid #dadada;
          border-radius: 3px;
        }
  
        button {
          margin-bottom: 15px;
          padding: 8px;
          width: 120px;
  
          background-color: #fff;
          border: 2px solid #dadada;
          border-radius: 3px;
  
          cursor: pointer;
        }
      }

      p{
        a{
          text-decoration: none;
          color: #4B89DC;
          font-weight: bold;
        }
      }
    }
  }